div {
    margin: 40px 20px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border-radius: 15px;
    margin: 0px 0px 15px 0px;
    padding: 5px;
}

h1 {
    color: blue;
    background-color: rgb(2, 2, 37);
    border-left: 5px solid steelblue;
    border-top: 5px solid rgb(89, 165, 228);
    border-right: 5px solid rgba(70, 131, 180, 0.685);
    border-bottom: 5px solid rgba(70, 131, 180, 0.568);
    border-radius: 30px;
    font-size: 80px;
}

h2 {
    color: red;
    background-color: rgba(255, 1, 1, 0.123);
    border: 5px dotted firebrick;
    font-size: 70px;
}

h3 {
    color: aqua;
    border: 5px dashed aquamarine;
    font-size: 60px;
}

h4 {
    color: saddlebrown;
    border: 5px double rosybrown;
    font-size: 50px;
}

h5 {
    color: rgb(96, 207, 68);
    border: 5px ridge rgba(96, 207, 68, 0.747);
    font-size: 40px;
}

h6 {
    color: rgb(228, 216, 46);
    border: 5px groove rgba(202, 199, 32, 0.76);
    font-size: 30px;
}

p,
span,
blockquote,
address,
td,
li,
a,
th,
table {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 150px 40px 0px;
    line-height: 30px;
}

span,
a {
    margin: 0px;
}

address {
    display: inline;
}

li {
    margin-bottom: 10px;
}

th {
    color: green;
}

ul {
    margin-bottom: 50px;
}


body {
    background-color: black;
}

.bordaAmarela {
    border: 2px dotted yellow;
}

.invisivel:hover {
    visibility: hidden;
}

a.botao1 {
    background-color: blue;
    border: 4px solid darkblue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}

a.botao1:hover {
    background-color: rgb(11, 170, 37);
    padding: 8px;
    border: 4px solid green;
}

a.botao2 {
    border-bottom: 3px solid blueviolet;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

a.botao2:hover {
    border-bottom: solid green;
}

a.botao3 {
    color: white;
    padding: 3px 2px;
    text-decoration: none;
}

a.botao3:hover {
    border: 4px dashed yellow;
    border-radius: 10px;
}

.titulos {
    p {
        text-align: center;
        margin: 30px 25px 40px 25px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        border-radius: 35px;
    }
}

.imagens {
    background-size: cover;
    background: gray url(../midia/img/background.jpg) center;
}

.tabelas {
    table {
        border-collapse: collapse;
    }

    th {
        background-color: rgb(6, 32, 177);
        border: 2px solid white;
        color: rgb(0, 255, 0);
        padding: 5px 10px;
        padding-right: 10px;
    }

    td {
        background-color: rgb(4, 4, 219);
        border: 2px solid white;
        padding: 5px 10px;
        text-align: left;
        padding-left: 30px;
    }
}

.iframe {
    iframe {
        background-color: white;
    }
}


/*Smartphones pequenos*/
@media only screen and (max-width: 375px) {
    div {
        margin: 20px 15px
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 23px;
    }

    h5 {
        font-size: 21px;
    }

    h6 {
        font-size: 19px;
    }

    p,
    a,
    span,
    blockquote,
    address {
        font-size: 13px;
        line-height: 20px;
        margin: 0 13px 20px 0px;
    }

    li {
        font-size: 15px;
        line-height: 15px;
        margin: 0px 20px 10px 0px;
    }

    .titulos {
        p {
            margin: 20px;
        }
    }

    .links {
        span {
            display: block;
            margin-top: 10px;
        }
    }

    .tabelas {

        th,
        td {
            font-size: 15px;
            padding: 5px;
        }
    }

    #imagemAleatoria {
        display: none;
    }

    #doritos {
        table-layout: fixed;
        width: 95%;
    }

    #produto,
    #nutrientes {
        width: 40%;
    }

    #valorDiario {
        width: 20%;
    }
}

/*Smartphones*/
@media only screen and (min-width: 376px) and (max-width: 571px) {
    div {
        margin: 20px 15px
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 37px;
    }

    h3 {
        font-size: 34px;
    }

    h4 {
        font-size: 31px;
    }

    h5 {
        font-size: 27px;
    }

    h6 {
        font-size: 25px;
    }

    p,
    a,
    span,
    blockquote,
    address {
        font-size: 15px;
        line-height: 20px;
        margin: 0 15px 30px 0px;
    }

    a {
        margin-right: 0px;
    }

    li {
        margin-right: 15px;
    }

    .titulos {
        p {
            margin: 30px;
        }
    }

    .tabelas {

        th,
        td {
            padding: 5px;
        }
    }

    #imagemAleatoria {
        display: none;
    }

    #doritos {
        table-layout: fixed;
        width: 95%;
    }

    #produto,
    #nutrientes {
        width: 40%;
    }

    #valorDiario {
        width: 20%;
    }
}

/*Smartphones grandes ou tablets*/
@media only screen and (min-width: 572px) and (max-width: 768px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 39px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 33px;
    }

    h6 {
        font-size: 30px;
    }

    p,
    a,
    span,
    blockquote,
    address {
        font-size: 18px;
        line-height: 22px;
        margin: 0 20px 30px 0px;
    }

    a {
        margin: 0px;
    }
}

/*Dispostivos Médios (Tablets deitados)*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

/*Dispostivos Largos (laptops/desktops)*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {}

/*Super Largos (Telas maiores laptops, desktops e até TVs, 1440px para cima)*/
@media only screen and (min-width: 1441px) {}